<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Restaurante.Properties.Settings.DBRestauranteMariasConnectionString"
            connectionString="Data Source=CALIX-PC\CALIX;Initial Catalog=DBRestauranteMarias;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Restaurante.Properties.Settings.DBRestauranteMariasConnectionString1"
            connectionString="Data Source=192.168.0.190;Initial Catalog=DBRestauranteMarias;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Restaurante.Properties.Settings.DBRestauranteMariasConnectionString2"
            connectionString="Data Source=.;Initial Catalog=DBRestauranteMarias;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>